.s1 {
  position: relative;
  animation: opacityImg 0.5s ease-in-out;
}

.s1__top__area {
  height: 5rem !important;
}

.s1__left__area,
.s1__right__area {
  width: 5rem !important;
  height: auto !important;
}

.s1__main__div {
  width: calc(100% - 10rem) !important;
  position: relative;
}

.nav_container {
  height: 200vh !important;
  position: fixed;
  top: 0%;
  right: 4.5rem;
  z-index: 50;
  background: linear-gradient(90deg, rgba(0, 0, 0, 0) -1.11%, #000000 100%);
}

.circle__nav__btn {
  width: 105px;
  height: 105px;
  background: var(--primary);
  box-shadow: 0px 0px 3.73333px rgba(255, 255, 255, 0.32),
    0px 0px 22.4px rgba(255, 255, 255, 0.6);
  border-radius: 171.569px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: fixed;
  top: 0%;
  right: 0%;
  z-index: 100;
  transition: all 0.3s;
  cursor: pointer;
  margin: 5rem;
  overflow: hidden !important;
  flex-direction: column;
}

.expand__navBar {
  height: 390px !important;
  animation: opacityImg 0.5s ease-in-out 1 both;
}

.navlogo1 {
  width: 50px;
  opacity: 1;
  animation-name: opacityImg;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
  margin: 20px 0px;
  margin-left: 5px;
}

.circle__nav__btn .navlogo2 {
  margin: 25px 0px !important;
  margin-left: 10px !important;
}

.circle__nav__btn ul {
  width: 70%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 1rem;
}

.circle__nav__btn ul li {
  color: var(--bg);
  font-size: 1.7rem;
  line-height: 3rem;
  font-weight: 600;
  padding-bottom: 3px;
  margin-bottom: 2rem;
  position: relative;
  overflow: hidden;
  padding: 3px 0px;
}

.li1::after {
  content: "";
  width: 0%;
  height: 100%;
  background-color: var(--bg);
  position: absolute;
  top: 93%;
  left: 0%;
  transition: all 0.3s;
}

.li1:hover::after {
  width: 100%;
}

.activeli::after {
  content: "";
  width: 100%;
  height: 100%;
  background-color: var(--bg);
  position: absolute;
  top: 93%;
  left: 0%;
  transition: all 0.3s;
}

.circle__nav__btn ul li img {
  width: 30px;
}

.mobile_bird {
  display: none;
}

.s1__pSlider__col1 {
  overflow: scroll;
}

.s1__pSlider__col1::-webkit-scrollbar {
  display: none;
}

.product__slider__container {
  width: fit-content;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: relative;
}

.extra__space {
  width: 100%;
  height: 15rem;
}

.bg__black__effect1,
.bg__black__effect2 {
  width: 100%;
  height: 100% !important;
  position: absolute;
  top: 0%;
  left: 0%;
  z-index: 50;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75));
  display: none;
  animation: opacityImg 0.3s ease-in-out forwards 1;
}

@keyframes opacityImg {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media (max-width: 992px) {
  .circle__nav__btn {
    width: 95px;
    height: 95px;
  }
/* 
  .expand__navBar {
    height: 400px !important;
  } */

  .navlogo1 {
    width: 46px;
  }
}

@media (max-width: 768px) {
  .s1__left__area,
  .s1__right__area {
    display: none !important;
  }

  .s1__main__div {
    width: 100% !important;
    position: relative;
    padding-left: 2.5rem !important;
  }

  .nav_container {
    width: 100% !important;
    height: 25vh !important;
    top: 84%;
    left: 0%;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0, #000000 100%);
  }

  .circle__nav__btn {
    width: 85px;
    height: 85px;
    top: 82%;
    left: 50%;
    margin: 0% !important;
    transform: translate(-50%, -30%);
  }

  .expand__navBar {
    width: 100% !important;
    height: 200px !important;
    border-radius: 65px 65px 0px 0px !important;
  }

  .navlogo1,
  .navlogo2 {
    display: none;
  }

  .mobile_bird_1 {
    display: block;
    width: 42px;
    height: 48px;
    background-image: url("../../assets/Nav-btn-desktop.svg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    position: relative;
    transform: rotateY(180deg);
    z-index: 1000;
  }

  .circle__nav__btn {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .mobile_bird_1 + ul {
    display: none !important;
  }

  .mobile_bird_2 {
    display: block;
    width: 42px;
    height: 34px;
    background-image: url("../../assets/Bird-Flight-Dark.svg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    position: relative;
    left: -10px;
  }

  .circle__nav__btn ul {
    flex-direction: row;
  }

  .li1__container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top: 18%;
    padding: 0% 23%;
  }

  .li1 {
    font-size: 2.3rem !important;
  }

  .icon__container {
    width: 100% !important;
    position: absolute;
    top: 40%;
    display: flex;
    justify-content: space-between;
    align-items: center !important;
    flex-direction: row;
    padding: 0% 24.5%;
  }

  .li2__icon {
    position: relative;
    top: 1rem !important;
  }

  .li3__icon {
    position: relative;
    top: 0.8rem;
    left: -7px;
  }

  .extra__space {
    height: 35rem;
  }
}

@media (max-width: 576px) {
  .li1__container {
    padding: 0% 22%;
  }

  .icon__container {
    padding: 0% 23%;
  }

  .li1 {
    font-size: 2.55rem !important;
  }

  .li2__icon {
    left: 2px;
  }

  .li3__icon {
    left: -13px;
  }
}

@media (max-width: 420px) {
  .li1__container {
    padding: 0% 15%;
  }

  .icon__container {
    padding: 0% 16%;
  }
}

@media (max-width: 335px) {
  .li1__container {
    padding: 0% 10%;
  }

  .icon__container {
    padding: 0% 11%;
  }
}

@media (max-width: 280px) {
  .li1__container {
    padding: 0% 5%;
  }

  .icon__container {
    padding: 0% 6%;
  }
}

@media (max-width: 230px) {
  .li1__container {
    padding: 0% 5%;
  }

  .icon__container {
    padding: 0% 5%;
  }
}
