@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap");

* {
  margin: 0%;
  padding: 0%;
  list-style: none;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

:root {
  --bg: #000000;
  --primary: #ffffff;
  --secondary: #c4c4c4;
}

html {
  font-size: 62.5% !important;
}

body {
  width: 100%;
  height: auto;
  position: relative;
  font-family: "DM Sans", sans-serif;
  overflow-x: hidden;
  overflow-y: unset;
  background-color: var(--bg);
  color: var(--primary);
}

.bg__video{
  width: 100%;
  height: 100%;
  background-image: url(./assets/bg.gif);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  position: relative;
  top: 0%;
  left: 0%;
}

h1 {
  font-size: 6.5rem !important;
  line-height: 9.1rem;
  font-weight: 700;
}

h2 {
  font-size: 4rem;
  font-weight: 400;
  line-height: 5rem;
}

h3 {
  font-size: 2.2rem;
  font-weight: 400;
  line-height: 3rem;
}

h4 {
  font-size: 2.8rem;
  line-height: 3.5rem;
  font-weight: 500;
}

p {
  font-size: 1.3rem;
  line-height: 1.8rem;
}

.section {
  width: 100%;
  height: auto;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #ffffff;
  border-radius: 5px;
  transition: all 0.3s;
}

.loader__container{
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background-color: var(--bg) !important;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 70px;
  position: relative;
}
.resume>img{
  height: 250vh;
}

@media (max-width: 992px) {
  html {
    font-size: 60% !important;
  }

  h3 {
    font-size: 2rem;
    line-height: 2.5rem;
  }

  p {
    font-size: 1.4rem;
    line-height: 1.8rem;
  }
  .resume>img{
    height: 150vh;
  }
}

@media (max-width: 768px) {
  html {
    font-size: 50% !important;
  }

  h3 {
    font-size: 2.5rem;
    line-height: 3.5rem;
  }

  p {
    font-size: 1.65rem;
    line-height: 2rem;
  }

  .loader__container{
    padding: 30px;
  }
  
  .circular{
    transform: scale(1.1);
  }
  .resume>img{
    height: 150vh;
  }
}

@media (max-width: 576px) {
  html {
    font-size: 40% !important;
  }

  h3 {
    font-size: 3rem;
    line-height: 3.5rem;
  }

  p {
    font-size: 2.5rem;
    line-height: 3rem !important;
  }
  .resume>img{
    height: 100vh;
  }
}

@media (max-width: 475px) {
  h1 {
    font-size: 5rem !important;
    line-height: 6.5rem !important;
  }
}

@media (max-width: 380px) {
  h1 {
    font-size: 4rem !important;
  }

  h2 {
    font-size: 3.3rem;
    line-height: 4rem;
  }
  .resume>img{
    height: 100vh;
  }
}

@media (max-width: 306px) {
  h1 {
    font-size: 3rem !important;
    line-height: 3.8rem !important;
  }

  h2 {
    font-size: 2.4rem;
    line-height: 3rem;
  }

  .resume>img{
    height: 100vh;
  }
}