.card__box {
  width: 250px;
  height: 365px !important;
  background-color: var(--primary);
  border-radius: 10px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  margin-right: 20px;
  cursor: pointer;
  box-shadow: 0px 0px 4px rgba(255, 255, 255, 0.32),
    0px 0px 24px rgba(255, 255, 255, 0.6);
}

.card__box:last-child {
  margin-right: 0% !important;
}

.card__box img {
  width: 250px;
  height: 250px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.card__box h3 {
  color: black;
  font-weight: 500;
  margin-top: 10px;
  margin-left: 12px;
  margin-bottom: 0px;
}

.card__box h5 {
  color: black;
  font-weight: 500;
  margin-top: 14px;
  margin-left: 12px;
  margin-bottom: 5px;
  font-size: 1.88rem;
}

.card__box p {
  width: 90%;
  color: var(--secondary);
  margin-top: 3px;
  margin-left: 12px;
}

.card__detail__div1,
.card__detail__div2,
.card__detail__div3,
.card__detail__div4,
.card__detail__div5,
.card__detail__div6,
.card__detail__div7,
.card__detail__div8,
.card__detail__div9 {
  width: 95%;
  height: 89vh;
  background-color: var(--bg);
  border: 1px solid #fff !important; 
  border-bottom: none !important; 
  position: fixed;
  bottom: -100%;
  left: 50%;
  transform: translate(-50%, 0%);
  border-radius: 10px 10px 0px 0px;
  z-index: 200;
  padding: 30px;
  padding-top: 0px !important;
  overflow-x: hidden;
  /* overflow-y: scroll !important; */
  transition: all 0.3s ease-in-out !important;
  opacity: 0;
}

.cards__handle__row {
  width: 100% !important;
  height: 40px !important;
  position: sticky;
  top: 0rem;
  left: -1rem !important;
  background-color: var(--bg);
  z-index: 50 !important;
}

.handleImg {
  cursor: pointer;
}

.card__detail__div1::-webkit-scrollbar {
  display: none;
}

.card__detail__div2::-webkit-scrollbar {
  display: none;
}

.card__detail__div3::-webkit-scrollbar {
  display: none;
}

.card__detail__div4::-webkit-scrollbar {
  display: none;
}

.card__detail__div5::-webkit-scrollbar {
  display: none;
}

.card__detail__div6::-webkit-scrollbar {
  display: none;
}

.card__detail__div7::-webkit-scrollbar {
  display: none;
}

.card__detail__div8::-webkit-scrollbar {
  display: none;
}

.card__detail__div9::-webkit-scrollbar {
  display: none;
}

.card__detail__img,
.card__detail__img2,
.card__detail__img3,
.card__detail__img5,
.card__detail__img6,
.card__detail__img7,
.card__detail__img8,
.card__detail__img9 {
  width: 392px !important;
  height: 628px !important;
  margin-bottom: 2rem;
  border-radius: 10px !important;
}

.card__detail__img2 {
  /* he */
  width: 353px !important;
  margin-right: 1rem;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url("../../assets/BreezeIG.png");
  border-radius: 10px !important;
}

.card__detail__img4 {
  width: 700px;
  height: 390px;
}

.card__content__container {
  padding-left: 2% !important;
  padding-right: 3% !important;
}

.main__content {
  width: 100%;
}

.main__content4 p a {
  text-decoration: underline;
  text-decoration-color: #fff;
}

.main__content h4 {
  color: var(--secondary);
}

.main__content p {
  color: var(--primary);
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 2rem;
  margin-top: 1.1rem;
}

.main__content p a {
  color: var(--primary) !important;
  font-weight: 700 !important;
}

.skills__content {
  width: 100%;
  margin: 0px auto;
  margin-top: 2rem;
  position: relative;
  z-index: 5;
  margin-bottom: 2rem !important;
}

.skills__content ul {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
}

.skills__content ul li {
  padding: 10px 20px;
  color: var(--primary);
  background: rgba(255, 255, 255, 0.25);
  border-radius: 50px;
  font-size: 1.4rem;
  font-weight: 400;
  margin-top: 1.5rem;
  margin-right: 10px;
  transition: all 0.3s;
  cursor: default;
}

.skills__content ul li:hover {
  background: rgba(255, 255, 255, 0.5);
}

.skills__content h4 {
  color: var(--secondary);
}

.bottom__img {
  width: 600px;
  height: 313px;
  background-image: url(../../assets/StyleGuide.png);
  background-size: contain;
  background-repeat: no-repeat;
  margin-top: 2rem;
  cursor: pointer;
}

.bottom__img3 {
  background-image: url(../../assets/PetGift.png) !important;
}

.bottom__img4 {
  width: 650px;
  height: 240px;
  margin-top: 0% !important;
  background-image: url(../../assets/WizardSidequest.png);
}

.bottom__img5 {
  background-image: url(../../assets/BabyGift.png);
}

.three__img__div {
  width: 100%;
  height: fit-content;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
}

.product__img__div1 {
  width: 100%;
  height: fit-content;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
}

.product__img__1__1,
.product__img__1__2,
.product__img__1__3 {
  width: 245px;
  height: 170px;
  background-image: url(../../assets/CarSeat1.png);
  background-size: 100% 100%;
  /* background-size: contain; */
  background-repeat: no-repeat;
  margin-top: 2rem;
  margin-right: 1.5rem;
  cursor: pointer;
  border-radius: 10px;
}

.product__img__1__2 {
  width: 200px;
  height: 175px;
  background-image: url(../../assets/CarSeat3.png);
  background-size: 100% 100%;
}

.product__img__1__3 {
  background-image: url(../../assets/CarSeat2.png);
  margin-right: 0% !important;
}

.product__img__3__1 {
  background-image: url(../../assets/Coffee1.png);
}

.product__img__3__2 {
  background-image: url(../../assets/Coffee3.png);
}

.product__img__3__3 {
  background-image: url(../../assets/Coffee2.png);
}

.product9__img2,
.product9__img3 {
  width: 330px !important;
  height: 132px !important;
  object-fit: fill !important;
  border-radius: 10px;
  cursor: pointer;
  border-radius: 10px;
}

.product9__img3 {
  margin-top: 1rem !important;
}

.product9__img1 {
  width: 350px;
  height: 275px !important;
  object-fit: fill;
  border-radius: 10px !important;
  margin-right: 1rem;
}

.three__img1 {
  width: 190px;
  height: 340px;
  background-image: url(../../assets/BreezeContent1.gif);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  margin-top: 3rem;
  margin-right: 1rem;
  cursor: pointer;
  border-radius: 10px;
}

.three__img2 {
  width: 225px;
  height: 340px;
  background-image: url(../../assets/BreezeContent4.gif);
  margin-top: 3rem;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  margin-right: 1rem;
  cursor: pointer;
  border-radius: 10px;
}

.three__img3 {
  width: 190px;
  height: 340px;
  background-image: url(../../assets/BreezeContent3.gif);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  margin-top: 3rem;
  cursor: pointer;
  border-radius: 10px;
}

.bottom__full__image1,
.bottom__full__image2__1,
.bottom__full__image2__2,
.bottom__full__image2__3,
.bottom__full__image3,
.bottom__full__image4,
.bottom__full__image5,
.bottom__full__image6__1,
.bottom__full__image6__2,
.bottom__full__image6__3,
.bottom__full__image7__1,
.bottom__full__image7__2,
.bottom__full__image7__3 {
  width: 100% !important;
  height: 100% !important;
  position: fixed;
  top: 0%;
  left: 0%;
  background-color: rgba(1, 1, 1, 0.75);
  z-index: 500;
  display: none;
  justify-content: center;
  align-items: center;
  overflow: hidden !important;
}

.active__full__image {
  display: flex !important;
  animation: scaleDiv 0.3s ease-in-out 1 forwards;
}

@keyframes scaleDiv {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

.bottom__full__image1 img,
.bottom__full__image3 img,
.bottom__full__image4 img,
.bottom__full__image5 img {
  width: 70%;
  border-radius: 10px;
}

.bottom__full__image2__1 img,
.bottom__full__image2__2 img,
.bottom__full__image2__3 img,
.bottom__full__image7__1 img,
.bottom__full__image7__2 img,
.bottom__full__image7__3 img {
  height: 80%;
}

.bottom__full__image6__1 img,
.bottom__full__image6__2 img,
.bottom__full__image6__3 img {
  width: 70%;
}

.closeIcon {
  position: absolute;
  top: 2rem;
  right: 2rem;
  font-size: 3.5rem;
  color: white;
  cursor: pointer;
  transition: all 0.3s;
  z-index: 100;
}

.product__img__div2 {
  flex-wrap: wrap;
  justify-content: start !important;
}

.closeIcon:hover {
  color: rgba(255, 255, 255, 0.8);
}

.sliderimg2,
.sliderimg6,
.sliderimg7,
.sliderimg8,
.sliderimg9 {
  width: 70% !important;
  height: 100% !important;
  position: relative;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}

.sliderimg7 {
  width: 40% !important;
}

.sliderimg9 {
  width: 70%;
  height: 70%;
}

.sliderimg9 img {
  width: 70% !important;
}

.imageSize6,
.imageSize7 {
  width: 50% !important;
  height: 100% !important;
  object-fit: fill !important;
  position: relative;
  left: 50%;
  transform: translate(-50%, 0%);
  border-radius: 10px;
}

.imageSize7 {
  width: 40% !important;
}

.imageSize2 {
  width: 40% !important;
  object-fit: fill !important;
  position: relative;
  left: 50%;
  transform: translate(-50%, 0%);
  border-radius: 10px;
}

.preBtn,
.nextBtn {
  height: 15%;
  position: absolute;
  top: 50%;
  transform: translate(0%, -50%);
}

@media (max-width: 1370px) {
  .bottom__img {
    width: -webkit-fill-available;
  }

  .sliderimg2,
  .sliderimg6,
  .sliderimg8,
  .sliderimg9 {
    width: 80% !important;
  }

  .sliderimg7 {
    width: 50% !important;
  }
}

@media (max-width: 1300px) {
  .product9__img2,
  .product9__img3 {
    width: 315px !important;
    height: 132px !important;
  }

  .product9__img1 {
    width: 320px;
    height: 275px !important;
  }

  .card__detail__img2 {
    width: 350px;
  }
}

@media (max-width: 1200px) {
  .product9__img2,
  .product9__img3 {
    width: 270px !important;
    height: 110px !important;
  }

  .product9__img1 {
    width: 270px;
    height: 230px !important;
  }
}

@media (max-width: 1170px) {
  .bottom__img {
    width: 440px;
  }
}

@media (max-width: 1095px) {
  .card__detail__img2 {
    width: 320px;
  }
}

@media (max-width: 1055px) {
  .bottom__img {
    width: 400px;
  }

  .bottom__full__image6__1 img {
    width: 70%;
  }

  .imageSize6 {
    width: 55% !important;
  }

  .imageSize7 {
    width: 50% !important;
  }
}

@media (max-width: 1030px) {
  .product9__img2,
  .product9__img3 {
    width: 220px !important;
    height: 95px !important;
  }

  .product9__img1 {
    width: 220px;
    height: 200px !important;
  }
}

@media (max-width: 992px) {
  .card__box {
    height: 355px;
  }

  .imageSize6__2 {
    width: 42% !important;
  }

  .product9__img2,
  .product9__img3 {
    width: 250px !important;
    height: 120px !important;
    object-fit: fill !important;
    border-radius: 10px;
    cursor: pointer;
    border-radius: 10px;
    margin-top: 2rem !important;
  }

  .product9__img1 {
    width: 250px;
    height: 200px !important;
    object-fit: fill;
    border-radius: 10px !important;
    margin-right: 1rem;
  }

  .sliderimg2,
  .sliderimg6,
  .sliderimg8,
  .sliderimg9 {
    width: 100% !important;
    height: 90% !important;
  }

  .sliderimg7 {
    width: 65% !important;
  }

  .imageSize7 {
    width: 40% !important;
  }

  .product__img__1__1,
  .product__img__1__3 {
    width: 180px;
    height: 130px;
  }

  .product__img__2__1,
  .product__img__2__2,
  .product__img__2__3 {
    width: 150px;
    /* background-size: contain; */
  }

  .product__img__1__2 {
    width: 150px;
    height: 140px;
    margin-left: 0% !important;
  }

  .bottom__img {
    width: 340px;
  }

  .three__img__div {
    justify-content: center;
  }

  .three__img1,
  .three__img2,
  .three__img3 {
    width: 180px !important;
    height: 300px !important;
  }
}

@media (max-width: 890px) {
  .three__img1,
  .three__img2,
  .three__img3 {
    width: 140px !important;
    height: 280px !important;
  }
}

@media (max-width: 875px) {
  .product__img__1__1,
  .product__img__1__3 {
    width: 150px;
    height: 110px;
  }

  .product__img__1__2 {
    width: 120px;
    height: 110px;
  }
}

@media (max-width: 810px) {
  .product__img__2__1,
  .product__img__2__2,
  .product__img__2__3 {
    width: 120px;
    height: 240px;
  }
}

@media (max-width: 767px) {
  .card__box {
    width: 250px;
    height: 375px !important;
  }

  .card__detail__div1,
  .card__detail__div2,
  .card__detail__div3,
  .card__detail__div4,
  .card__detail__div5,
  .card__detail__div6,
  .card__detail__div7,
  .card__detail__div8,
  .card__detail__div9 {
    width: 95%;
    height: 80vh;
    left: 3%;
    transform: translate(0%, 0%);
    padding: 10px;
    padding-top: 15px;
    overflow: scroll;
  }

  .sliderimg2,
  .sliderimg6,
  .sliderimg7,
  .sliderimg8,
  .sliderimg9 {
    width: 95% !important;
  }

  .sliderimg7 {
    width: 90% !important;
  }

  .imageSize6 {
    width: 65% !important;
  }

  .imageSize7 {
    width: 40% !important;
  }

  .card__detail__img2 {
    width: 400px !important;
  }

  .product9__img2,
  .product9__img3 {
    width: 100% !important;
    height: 130px !important;
    object-fit: fill !important;
    border-radius: 10px;
    cursor: pointer;
    border-radius: 10px;
    margin-top: 2rem !important;
  }

  .product9__img3{
    width: 290px !important;
  }

  .product9__img1 {
    width: 280px;
    height: 230px !important;
    object-fit: fill;
    border-radius: 10px !important;
  }

  .product__img__2__3 {
    margin-top: auto !important;
  }

  .product__img__div2 {
    justify-content: center !important;
  }

  .product__img__2__1,
  .product__img__2__2,
  .product__img__2__3 {
    width: 170px;
    height: 340px;
  }

  .product__img__div1 {
    justify-content: center;
  }

  .bottom__full__image6__1 img,
  .bottom__full__image6__2 img,
  .bottom__full__image6__3 img {
    width: 70%;
  }

  .product__img__1__1,
  .product__img__1__3 {
    width: 250px;
    height: 180px;
  }

  .product__img__1__2 {
    width: 190px;
    height: 180px;
  }

  .closeIcon {
    font-size: 5rem;
  }

  .bottom__full__image1 img,
  .bottom__full__image3 img,
  .bottom__full__image4 img,
  .bottom__full__image5 img {
    width: 80%;
  }

  .main__content h4 {
    font-size: 3.2rem;
  }

  .skills__content h4 {
    font-size: 3.2rem;
  }

  .main__content p {
    font-size: 2.2rem;
    line-height: 2.8rem;
  }

  .skills__content ul li {
    font-size: 2rem;
    position: relative;
    z-index: 100;
  }

  .main__content {
    margin-top: 3rem;
  }

  .bottom__img {
    width: 370px !important;
    height: 190px !important;
    margin: auto;
    margin-top: 2rem;
  }

  .bottom__img4 {
    margin-top: 2rem !important;
  }

  .card__content__container {
    padding-left: 2% !important;
    padding-right: 3% !important;
  }

  .three__img1,
  .three__img2,
  .three__img3 {
    width: 175px !important;
    height: 300px !important;
  }
}

@media (max-width: 645px) {
  .three__img1,
  .three__img2,
  .three__img3 {
    width: 150px !important;
  }

  .main__content4 {
    margin-top: -8rem !important;
  }
}

@media (max-width: 576px) {
  .card__detail__img,
  .card__detail__img2,
  .card__detail__img3,
  .card__detail__img4,
  .card__detail__img5,
  .card__detail__img6,
  .card__detail__img7,
  .card__detail__img8,
  .card__detail__img9 {
    width: 100% !important;
  }

  .sliderimg7 {
    width: 100% !important;
  }

  .card__detail__img2 {
    width: 400px !important;
  }

  .main__content {
    margin-top: 1rem;
  }

  .main__content4 {
    margin-top: 2rem !important;
  }

  .three__img1 {
    width: 99px;
    height: 162px;
    margin-right: 1rem;
  }

  .three__img2 {
    width: 99px;
    height: 172px;
    margin-right: 1rem;
  }

  .three__img3 {
    width: 99px;
    height: 172px;
    margin-right: 1rem;
  }

  .product9__img2,
  .product9__img3 {
    width: 100% !important;
    height: 110px !important;
    object-fit: fill !important;
    border-radius: 10px;
    cursor: pointer;
    border-radius: 10px;
  }

  .product9__img3{
    height: 125px !important;
  }

  .product9__img1 {
    width: 90%;
    height: 200px !important;
    object-fit: fill;
    border-radius: 10px !important;
    margin-right: 1rem;
    margin-bottom: 1rem;
  }
}

@media (max-width: 645px) {
  .product__img__2__2 {
    margin-top: -1rem;
  }
}

@media (max-width: 450px) {
  .bottom__img {
    width: 340px !important;
  }

  .card__detail__img2 {
    width: 330px !important;
    height: 500px !important;
  }
}
@media (max-width: 415px) {
  .bottom__img {
    width: 300px !important;
  }
}

@media (max-width: 375px) {
  .bottom__img {
    width: 270px !important;
  }

  .card__detail__img2 {
    width: 280px !important;
    height: 430px !important;
  }
}

@media (max-width: 335px) {
  .main__content4 {
    margin-top: -4rem !important;
  }

  .product9__img1,
  .product9__img2,
  .product9__img3{
    background-size: contain !important;
  }
}

@media (max-width: 325px) {
  .bottom__img {
    width: 250px !important;
  }

  .card__detail__img2 {
    width: 230px !important;
    height: 350px !important;
  }
}

@media (max-width: 285px) {
  .bottom__img {
    width: 220px !important;
  }

  .main__content4 {
    margin-top: -7rem !important;
  }
}
